<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.zzzjian.music">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application android:label="MusicApp" android:icon="@mipmap/ic_launcher" android:supportsRtl="true">
        <activity android:name="com.zzzjian.music.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.zzzjian.music.service.MediaPlaybackService" android:exported="false" android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>
